body {
  margin: 0;
  text-align: center;
  /* border-width: 10px; */
}

.header-div {
  background-color: rgb(180, 188, 206);
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 40px;
}
.cfd-underline {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: absolute;
}

.container {
  height: 400px;
  width: 100%;
  /* position: absolute; */
  background-color: black;
  position: fixed;
}

.top-container {
  width: 200px;
  height: 200px;
  background-color: blue;
}
.middle-container {
  width: 200px;
  height: 200px;
  background-color: yellow;
}
.bottom-container {
  width: 200px;
  height: 200px;
  background-color: red;
}
