body {
  margin: 0;
  /* border-width: 10px; */
}

.header-div {
  background-color: rgb(180, 188, 206);
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 20px;
}
.cfd-underline {
  text-decoration: underline;
}

.container {
  height: 400px;
  width: 100%;
  /* position: absolute; */
  background-color: black;
}

.top-container {
  width: 200px;
  height: 200px;
  background-color: blue;

  /* position: absolute;
  left: 200px; */
}

.middle-container {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: relative;
  left: 200px;
  /* top: 200px; */

  /* border-style: solid;
  border-color: brown;
  border-width: 20px;
  margin-left: 260px; */
}
.bottom-container {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  left: 400px;
  /* top: 400px; */

  /* border-style: solid;
  border-color: green;
  border-width: 10px;
  margin-left: 500px; */
}
